<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Change Password</title>
  </head>
  <body style="background-color:#3d0202;">
    <form method="POST">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <div align="center">
      <fieldset>
        <legend style="color:#ebdddd;">Update Password</legend>
        <br/>
        <input style="background-color:#91d9d2;" type="text" name="username" placeholder="username" required/>
        <br/>
        <input style="background-color:#91d9d2;" type="password" name="password" placeholder="password" required/>
        <br/>
        <input style="background-color:#91d9d2;" style="color:#1c4d1b" type="password" name="confirm" placeholder="confirm password" required/>
        <br/>
        <br/>
        <button style="color:#1c4d1b;color:#e810cf;border-radius: 10px;">Submit</button>
      </fieldset>
      </form>
      {{ if .}}
      <center><p>{{ . }}</p></center>
      {{ end }}
  </body>
</html>
